body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:rgb(81, 106, 204);
}
::-webkit-scrollbar{
    display: none;
}
.container{
    width: 400px;
    height: 300px;
    background-color: #51a0f4;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 6, 91);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(0, 12, 124);
    align-items: center;
    padding: 20px;
}

.inputs{
    background-color: rgb(80, 92, 218);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(35, 0, 130);
    
}

.inputs input{
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(0, 23, 91);
    background-color: #eaff64;
   
}
.inputs button{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0ff64;
    box-shadow: 5px 5px 10px rgb(0, 18, 91);

   
    
}

#ageResult{
    display: flex;
    justify-content: space-around;

width: 90%;
margin: 25px;
}

.result{
    background-color: rgb(4, 255, 171);
    color: rgb(4, 4, 4);
    width: 70px;
    padding: 7px;
    height: 30px;
    text-align:center;
    border-radius: 5px;
    display: block;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgb(1, 39, 137);
   
    
}